In [43]:
import numpy as np
import pandas as pd
import re
import ast

In [44]:
main_df = pd.read_excel('holiday_packages_cleaned.xlsx')
main_df = main_df.drop('Unnamed: 0',axis=1)

In [45]:
main_df

,location,package_name,stay_duration,cities_covered_with_duration,other_cities_covered,facilities,sights_included,discount_type,price_per_person,total_price,image_url,emi_amount,discount_offered
0,Maharashtra,Short Shirdi Holiday by Bus,2,['1N Shirdi'],NaN,"['3 Star Hotel', 'Airport Pickup & Drop', '3 A...","['Bus Ticket', 'Visit to Shirdi Sai Baba Temple']","₹3,408/month",10537,21074,NaN,3408.0,NaN
1,Maharashtra,Peaceful Mahabaleshwar Holiday - From Pune,3,['2N Mahabaleshwar'],NaN,"['Round Trip Flights', '3 Star Hotel', 'Airpor...","['Visit to Venna Lake, Mapro Garden, Pratapgar...","₹2,000",27269,54538,NaN,NaN,2000.0
2,Maharashtra,4N Mumbai & Lonavala Trip with Siddhivinayak D...,5,"['2N Mumbai', '2N Lonavala ', ' Khandala']",NaN,"['Round Trip Flights', 'Intercity Car Transfer...","['Visit to Siddhivinayak Temple, Haji Ali, Juh...","₹2,199",29984,59968,NaN,NaN,2199.0
3,Maharashtra,Sacred Trip to Shirdi,2,['1N Shirdi'],NaN,"['Round Trip Flights', '3 Star Hotel', 'Airpor...","['Visit to Khandoba Mandir, Shirdi Sai Baba Te...","₹1,447",19729,39458,NaN,NaN,1447.0
4,Maharashtra,Mesmerising Mumbai Trip,4,['3N Mumbai'],NaN,"['Round Trip Flights', '4 Star Hotel', 'Airpor...","['Visit to Gateway of India, Marine Drive, Mah...","₹2,362",32212,64424,NaN,NaN,2362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857,Uttarakhand,"Peaceful Corbett, Ranikhet & Nainital Getaway",6,"['1N Corbett', '2N Ranikhet', '2N Nainital']",NaN,"['Intercity Car Transfers', '3 Star Hotels', '...","['Visit to Jhula Devi Temple, Chaubatia Garden...",NaN,23715,47430,https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmi...,NaN,NaN
1858,Uttarakhand,Serene Nainital and Ranikhet Getaway,5,"['3N Nainital', '1N Ranikhet']",NaN,"['Intercity Car Transfers', '3 Star Hotels', '...","['Visit to Naina devi Temple, Mall road, Naini...",NaN,20517,41034,NaN,NaN,NaN
1859,Uttarakhand,Exotic Mussoorie with Nainital,5,"['2N Mussoorie', '2N Nainital']",NaN,"['Intercity Car Transfers', '3 Star Hotels', '...","['Visit to Mall road, Lake Mist, Kempty Falls'...",NaN,18645,37290,NaN,NaN,NaN
1860,Uttarakhand,"Picturesque Nainital, Ranikhet & Corbett- From...",6,"['2N Nainital', '1N Ranikhet', '2N Corbett']",NaN,"['Intercity Car Transfers', '3 Star Hotels', '...","['Visit to Naina devi Temple, Mall road, Naini...",NaN,23869,47738,https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmi...,NaN,NaN
1861,Uttarakhand,"Drive to Nainital, Kausani and Corbett",6,"['2N Nainital', '1N Kausani', '2N Corbett']",NaN,"['Intercity Car Transfers', '3 Star Hotels', '...","['Visit to Naina devi Temple, Mall road, Naini...",NaN,22704,45408,https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmi...,NaN,NaN

In [46]:
main_df['cities_covered_with_duration'] = main_df['cities_covered_with_duration'].apply(lambda x: ast.literal_eval(x))
main_df['other_cities_covered'] = main_df['other_cities_covered'].fillna('[]').apply(lambda x: ast.literal_eval(x))
main_df['facilities'] = main_df['facilities'].apply(lambda x: ast.literal_eval(x))
main_df['sights_included'] = main_df['sights_included'].apply(lambda x: ast.literal_eval(x))

In [47]:
def visit_to_remover(listt):
    L = []
    for i in listt:
        L.append(i.replace("Visit to",""))
    return L


main_df['sights_included'] = main_df['sights_included'].apply(visit_to_remover)

In [50]:
df = main_df.copy()

In [52]:
df

,location,package_name,stay_duration,cities_covered_with_duration,other_cities_covered,facilities,sights_included,discount_type,price_per_person,total_price,image_url,emi_amount,discount_offered
0,Maharashtra,Short Shirdi Holiday by Bus,2,[1N Shirdi],[],"[3 Star Hotel, Airport Pickup & Drop, 3 Activi...","[Bus Ticket, Shirdi Sai Baba Temple]","₹3,408/month",10537,21074,NaN,3408.0,NaN
1,Maharashtra,Peaceful Mahabaleshwar Holiday - From Pune,3,[2N Mahabaleshwar],[],"[Round Trip Flights, 3 Star Hotel, Airport Tra...","[ Venna Lake, Mapro Garden, Pratapgarh Fort, ...","₹2,000",27269,54538,NaN,NaN,2000.0
2,Maharashtra,4N Mumbai & Lonavala Trip with Siddhivinayak D...,5,"[2N Mumbai, 2N Lonavala , Khandala]",[],"[Round Trip Flights, Intercity Car Transfers, ...","[ Siddhivinayak Temple, Haji Ali, Juhu Beach, ...","₹2,199",29984,59968,NaN,NaN,2199.0
3,Maharashtra,Sacred Trip to Shirdi,2,[1N Shirdi],[],"[Round Trip Flights, 3 Star Hotel, Airport Tra...","[ Khandoba Mandir, Shirdi Sai Baba Temple]","₹1,447",19729,39458,NaN,NaN,1447.0
4,Maharashtra,Mesmerising Mumbai Trip,4,[3N Mumbai],[],"[Round Trip Flights, 4 Star Hotel, Airport Tra...","[ Gateway of India, Marine Drive, Mahalakshmi ...","₹2,362",32212,64424,NaN,NaN,2362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857,Uttarakhand,"Peaceful Corbett, Ranikhet & Nainital Getaway",6,"[1N Corbett, 2N Ranikhet, 2N Nainital]",[],"[Intercity Car Transfers, 3 Star Hotels, Airpo...","[ Jhula Devi Temple, Chaubatia Gardens, Naina ...",NaN,23715,47430,https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmi...,NaN,NaN
1858,Uttarakhand,Serene Nainital and Ranikhet Getaway,5,"[3N Nainital, 1N Ranikhet]",[],"[Intercity Car Transfers, 3 Star Hotels, Airpo...","[ Naina devi Temple, Mall road, Naini Lake, S...",NaN,20517,41034,NaN,NaN,NaN
1859,Uttarakhand,Exotic Mussoorie with Nainital,5,"[2N Mussoorie, 2N Nainital]",[],"[Intercity Car Transfers, 3 Star Hotels, Airpo...","[ Mall road, Lake Mist, Kempty Falls, Jwalaji...",NaN,18645,37290,NaN,NaN,NaN
1860,Uttarakhand,"Picturesque Nainital, Ranikhet & Corbett- From...",6,"[2N Nainital, 1N Ranikhet, 2N Corbett]",[],"[Intercity Car Transfers, 3 Star Hotels, Airpo...","[ Naina devi Temple, Mall road, Naini Lake, J...",NaN,23869,47738,https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmi...,NaN,NaN
1861,Uttarakhand,"Drive to Nainital, Kausani and Corbett",6,"[2N Nainital, 1N Kausani, 2N Corbett]",[],"[Intercity Car Transfers, 3 Star Hotels, Airpo...","[ Naina devi Temple, Mall road, Naini Lake, B...",NaN,22704,45408,https://hldak.mmtcdn.com/prod-s3-hld-hpcmsadmi...,NaN,NaN

In [56]:
def N_remover(cities):
    l = []
    for i in cities:
        i = re.sub(r'\d+N', '', i).strip()
        l.append(i)
    return l

In [57]:
df['cities_covered_with_duration'] = df['cities_covered_with_duration'].apply(N_remover)

In [58]:
df['other_cities_covered'] = df['other_cities_covered'].apply(N_remover)

In [60]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [61]:
df['cities_covered_with_duration'] = df['cities_covered_with_duration'].apply(collapse)
df['other_cities_covered'] = df['other_cities_covered'].apply(collapse)
df['facilities'] = df['facilities'].apply(collapse)
df['sights_included'] = df['sights_included'].apply(collapse)

In [62]:
df['location'] = df['location'].apply(lambda x: [x])

In [63]:
df['tags'] = df['location']+df['cities_covered_with_duration']+df['other_cities_covered']+df['facilities']+df['sights_included']

In [64]:
final_df = df[['package_name','tags']]

In [65]:
final_df['tags'] = final_df['tags'].apply(lambda x: " ".join(x))

C:\Users\iamaj\AppData\Local\Temp\ipykernel_25064\1852633529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lambda x: " ".join(x))

In [66]:
final_df

,package_name,tags
0,Short Shirdi Holiday by Bus,Maharashtra Shirdi 3StarHotel AirportPickup&Dr...
1,Peaceful Mahabaleshwar Holiday - From Pune,Maharashtra Mahabaleshwar RoundTripFlights 3St...
2,4N Mumbai & Lonavala Trip with Siddhivinayak D...,Maharashtra Mumbai Lonavala Khandala RoundTrip...
3,Sacred Trip to Shirdi,Maharashtra Shirdi RoundTripFlights 3StarHotel...
4,Mesmerising Mumbai Trip,Maharashtra Mumbai RoundTripFlights 4StarHotel...
...,...,...
1857,"Peaceful Corbett, Ranikhet & Nainital Getaway",Uttarakhand Corbett Ranikhet Nainital Intercit...
1858,Serene Nainital and Ranikhet Getaway,Uttarakhand Nainital Ranikhet IntercityCarTran...
1859,Exotic Mussoorie with Nainital,Uttarakhand Mussoorie Nainital IntercityCarTra...
1860,"Picturesque Nainital, Ranikhet & Corbett- From...",Uttarakhand Nainital Ranikhet Corbett Intercit...
1861,"Drive to Nainital, Kausani and Corbett",Uttarakhand Nainital Kausani Corbett Intercity...

In [67]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words='english')

In [68]:
vector = cv.fit_transform(final_df['tags']).toarray()

In [69]:
vector.shape

(1862, 1283)

In [70]:
from sklearn.metrics.pairwise import cosine_similarity

In [71]:
similarity = cosine_similarity(vector)

In [72]:
similarity

array([[1.        , 0.2773501 , 0.15294382, ..., 0.25      , 0.25819889,
        0.26726124],
       [0.2773501 , 1.        , 0.25451391, ..., 0.06933752, 0.14322297,
        0.14824986],
       [0.15294382, 0.25451391, 1.        , ..., 0.22941573, 0.17770466,
        0.1839418 ],
       ...,
       [0.25      , 0.06933752, 0.22941573, ..., 1.        , 0.64549722,
        0.6681531 ],
       [0.25819889, 0.14322297, 0.17770466, ..., 0.64549722, 1.        ,
        0.82807867],
       [0.26726124, 0.14824986, 0.1839418 , ..., 0.6681531 , 0.82807867,
        1.        ]])

In [73]:
def recommend(place):
    index = final_df[final_df['package_name'] == place].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(final_df.iloc[i[0]].package_name)

In [74]:
recommend('Goa Delights - Free Catamaran Cruise')

Goa Delights - Free Catamaran Cruise
All-Inclusive 4N Holiday - Flights, Sightseeing & Transfers
She Travels - Amazing Goa Package
Luxury Hotel Deals - Goa Special
Taj Goa Escape - Exclusive Luxury Package

In [75]:
final_df['package_name'][55]

'Goa Delights - Free Catamaran Cruise'

In [76]:
final_df['poster_url'] = df['image_url']

C:\Users\iamaj\AppData\Local\Temp\ipykernel_25064\3250462587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['poster_url'] = df['image_url']

In [79]:
import pickle

pickle.dump(final_df[['package_name','poster_url']].to_dict(),open('packages.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [80]:
pickle.dump(main_df[['location','package_name','stay_duration','cities_covered_with_duration','other_cities_covered','facilities','sights_included','price_per_person']].to_dict(),open('data.pkl','wb'))